In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [2]:
#Import files

complete_seds = pd.read_csv('../data/Complete_SEDS.csv')

codes_descriptions = pd.read_excel('../data/Codes_and_Descriptions.xlsx', sheet_name = 'MSN descriptions', usecols=lambda x: x != 'Unnamed: 0', skiprows = 10)

In [3]:
complete_seds.head()

  Data_Status    MSN StateCode  Year  Data
0       2023F  ABICB        AK  1960   0.0
1       2023F  ABICB        AK  1961   0.0
2       2023F  ABICB        AK  1962   0.0
3       2023F  ABICB        AK  1963   0.0
4       2023F  ABICB        AK  1964   0.0

In [4]:
complete_seds.shape

(2364930, 5)

In [5]:
codes_descriptions.head()

,MSN,Description,Unit
0,ABICB,Aviation gasoline blending components consumed...,Billion Btu
1,ABICP,Aviation gasoline blending components consumed...,Thousand barrels
2,ARICB,Asphalt and road oil consumed by the industria...,Billion Btu
3,ARICD,Asphalt and road oil price in the industrial s...,Dollars per million Btu
4,ARICP,Asphalt and road oil consumed by the industria...,Thousand barrels

In [6]:
codes_descriptions.shape

(920, 3)

In [7]:
complete_seds_data = pd.merge(complete_seds, codes_descriptions, how='left', on ='MSN')

In [8]:
dataframes = [complete_seds_data]

for x in dataframes:
    x.columns= x.columns.str.lower()

In [9]:
list_of_categories = ['TPOPP']

population_data = complete_seds_data.loc[complete_seds_data['msn'].isin(list_of_categories)]

In [10]:
population_data.head()

,data_status,msn,statecode,year,data,description,unit
2176170,2023F,TPOPP,AK,1960,229.0,Resident population including Armed Forces,Thousand
2176171,2023F,TPOPP,AK,1961,238.0,Resident population including Armed Forces,Thousand
2176172,2023F,TPOPP,AK,1962,246.0,Resident population including Armed Forces,Thousand
2176173,2023F,TPOPP,AK,1963,256.0,Resident population including Armed Forces,Thousand
2176174,2023F,TPOPP,AK,1964,263.0,Resident population including Armed Forces,Thousand

In [11]:
#Data Types Before
population_data.dtypes

data_status     object
msn             object
statecode       object
year             int64
data           float64
description     object
unit            object
dtype: object

In [12]:
#Format Columns


population_data = population_data.drop('data_status', axis = 1)

population_data['year'] = pd.to_datetime(population_data['year'], format = '%Y')

In [13]:
#Data Types After
population_data.dtypes

msn                    object
statecode              object
year           datetime64[ns]
data                  float64
description            object
unit                   object
dtype: object

In [16]:
population_data = population_data[population_data['year'] >= '2000']

In [17]:
file_path = "C:/Users/marvi/Documents/DA15/Python/projects/capstone2025_marvin_short/data/population_data.csv"

population_data.to_csv(file_path, index=False)